# Normal Equation Method

In [1]:
import numpy as np

**Normal Equation for Linear Regression:**

$$
\mathbf{w} = \left( \mathbf{X}^T \mathbf{X} \right)^{-1} \mathbf{X}^T \mathbf{y}
$$

In [ ]:
class LinearRegression_NE():
    def __init__(self):
        self.weights = None

    def fit(self,X,y):
        m = X.shape[0]
        X = np.hstack((np.ones((m,1)),np.array(X)))
        y = np.array(y).reshape(-1)

        self.weights = np.linalg.pinv(X.T@X)@(X.T@y)

    def predict(self,X):
        if self.weights is None:
            raise ValueError("Model has not been fitted yet")
            
        m = X.shape[0]
        X = np.hstack((np.ones((m,1)),np.array(X)))
        return X@self.weights
    
    def get_weights(self):
        return self.weights

In [41]:
import pandas as pd
df = pd.DataFrame({'soap':[4,4.5,5,5.5,6,6.5,7],
                   'suds': [33,42,45,51,53,61,62]})

In [42]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [43]:
X

   soap
0   4.0
1   4.5
2   5.0
3   5.5
4   6.0
5   6.5
6   7.0

In [44]:
y

0    33
1    42
2    45
3    51
4    53
5    61
6    62
Name: suds, dtype: int64

In [45]:
model = LinearRegression_NE()
model.fit(X,y)

In [46]:
model.get_weights()

array([-2.67857143,  9.5       ])